#logo{
	width:120%;
	display:block;
	filter: drop-shadow(0px 0px 2px grey);
}

/*Gestion de l'appparition du background coloré*/
.blockheader_color
{
	background-color: #1c171d;
	transition: 0.7s;
}
.blockheader
{
	transition: 0.4s;
}

/* Gestion de l'apparition des éléments de la barre de navigation */
.blockheader #bandeau{
	transition: opacity 0.7s;
}

.blockheader #bandeau a{
	text-decoration: none;
	color: white;
}

.blockheader #bandeau ul li:hover{
	box-shadow: 0pt 0pt 6pt grey;
	transition: box-shadow 0.4s;
}
.blockheader #bandeau ul li{
	transition: box-shadow 0.4s;
}

.blockheader #bandeau ul{
	text-align: right;
}

.blockheader #bouton{
	visibility: visible;
	opacity: 1;
	margin-top: 30px;
	width: 47%;
}

.animbando{
	display: none;
}

#bandeau ul{
	list-style-type: none;
	text-align: center;
	margin:0;
	padding: 0;
	padding-top: 35px;

}
#bandeau ul li{
	display: inline;
    width: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
}
#bandeau{
	padding: 0;
	margin:0;
	height: 86px;
}

article .contenu{
	text-align: justify;
}

article img{
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border: 2px solid grey;
}

article .description{
	font-style: italic;
	color: grey;
}

article .legend{
	font-style: italic;
	color: grey;
	font-size: 0.8em;
	text-align: right;
}

header .grid{
	padding-bottom: 15px;
}