a{
	text-decoration: none;
	color: inherit;
}

html,body,main{
	height:100%;
}


/* --- CSS DU BODY --- */

body{
	background-image: url("./Medias/samplebackground.jpg");
	position: relative;
	z-index: 3;	
}

article img{
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border: 2px solid gray;
}

article .description{
	font-style: italic;
	color: gray;
}

article .legend{
	font-style: italic;
	color: gray;
	font-size: 0.8em;
	text-align: right;
}

article .contenu{
	text-align: justify;
}


/* --- CSS DU HEADER --- */

#logo{
	width:5em;
	display:block;
	filter: drop-shadow(0px 0px 2px gray);
}

header .grid{
	padding-bottom: 15px;
}


/* --- CSS DU BACKGROUND DU HEADER --- */

.blockheader{
	-moz-transition: 1s;
	-webkit-transition: 1s;
}

.blockheader_color
{
	background-color: #1c171d;
}

#backfixe{
	background-color: #1c171d;
}

/* --- CSS DU MENU --- */

header #menu{
	-moz-transition: 1s;
	-webkit-transition: 1s;
}

.menu{
	display: none;
	opacity: 0;
}

.blockheader #menu a{
	text-decoration: none;
}

.blockheader #menu ul li:hover{
	box-shadow: 0pt -6pt 6pt -6pt gray,
				0pt 6pt 6pt -6pt gray;
}
.blockheader #menu ul li{
	-moz-transition: box-shadow 0.4s;
	-webkit-transition: box-shadow 0.4s;
}

.blockheader #menu ul{
	text-align: right;
}

.blockheader #bouton{
	visibility: visible;
	opacity: 1;
	margin-top: 30px;
	width: 60%;
}

#menu ul{
	list-style-type: none;
	text-align: center;
	margin:0;
	padding: 0;
	padding-top: 35px;

}

#menu ul li{
	display: inline;
    width: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

/* --- CSS DU FOOTER --- */

footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#banniere{
	-moz-transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	position: fixed;
	text-align: center;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

#banniere img{
	box-shadow: 0pt 0pt 10pt 5pt black;
}

.mini{
	height: 6em;
	margin-right: 10px;
	margin-left: 10px;

}

.maxi{
	height: 8em;
	margin-right: 20px;
	margin-left: 20px;

}

.defile{
	-moz-transform: translate(0px,120px);
	-webkit-transform: translate(0px,120px);
	opacity: 0;
}

.defile2{
	-moz-transform: translate(0px,0px);
	-webkit-transform: translate(0px,0px);
}

#fond{
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	position: fixed;
	text-align: center;
	z-index: -1;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	left: -50%;
	top: 0;
}

#fond #devant{
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	z-index: -1;
	position: absolute;
}

#fond #derriere{
	z-index: -2;
	position: absolute;
}

#fond img{
	height: 100%;
	width: 100%;
}

#f_g{
	z-index: 6;
	position: fixed;
	width:0px;
	height:0px;
	border:1px solid white;
	border-color:transparent white transparent transparent;
	border-width:4em 2em 4em 0px;
	left: 5%;
	bottom:47%;
	opacity: 0.8;
}

#f_d{
	z-index: 6;
	position: fixed;
	width:0px;
	height:0px;
	border:1px solid white;
	border-color:transparent transparent transparent white;
	border-width:4em 0px 4em 2em;
	right: 5%;
	bottom:47%;
	opacity: 0.8;
}

.ici{
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

#bandeau{
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	width: 100%;
	height: 40%;
	z-index: 5;
	background-color: rgba(255,255,255,0.5);
	position: fixed;
	top: 24%;
	text-align: center;
}

#bandeau .titre_princ{
	font-family: 'Poiret One', cursive;
	font-size: 900%;
	text-shadow: -2pt -2pt 3pt black;
	position: relative;
	color: white;
	opacity: 1;
	top: 20%;
	z-index: 6;
}

#bandeau .savoir{
	font-family: 'Poiret One', cursive;
	z-index: 6;
	width: auto;
	font-size: 2.3em;
	display: inline-block;
	border: 2px solid white;
	color: white;
	position: absolute;
	top: 100%;
	left: 39.7%;
	text-shadow: 1pt 1pt 2pt black;
	background-color: #1c171d;
	padding: 5px;
	opacity: 0.92;
}

#bandeau .savoir:hover{
	box-shadow: 0pt 0pt 5pt 1pt gray;
	text-shadow: 1pt 1pt 1pt black;
}

/* --- CSS DES TRANSITIONS --- */

.show{
	display: block;
}

.visuallyshow{
	opacity: 1;
}

.visuallyhidden{
	opacity: 0;
}


/* --- CSS COMMERCANTS -- */

.commercant_pic{
	display: inline-block;
	width: 100px;
	border: none;
	margin:0;
	vertical-align: middle;
}
.section_comm h1{
	display: inline-block;
	margin:0;
}
.section_comm h2{
	display: inline-block;
	margin:0;
	font-weight:normal;
	font-size: 1.3em;
}

.header_art_comm{
	border-bottom: #fff solid 1px;
	border-top: #fff solid 1px;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #2f2b30;
}
.section_comm{
	background-color: #1c171d;
	padding: 20px;
	color: #fff;
	border-radius: 20px;
}

.align_on_char{
	white-space: pre;
	font-family: Roboto;
}
.section_comm article header .div_align{
	display: inline-block;
	margin:0; 
	vertical-align: middle;
}

.bulles{
	text-align: center;
	width: 250px;
	height:154px;
}

.bulles:hover{
	color: red;
}

.commercant_desc h4,.commercant_desc h5{
	margin-bottom: 0;
	margin-top: 10px;
}

#menu_commercants{
	height: 100%;
}


/* --- CSS CONTACTS -- */

#logo_fb{
	width: 2em;
}

input:hover{
	box-shadow: 0pt 0pt 1pt 0pt blue;
}


/* --- MEDIA QUERIES ---*/


@media (max-width: 750px) {
#logo{
	width:3em;
}
#menu ul{
	list-style-type: none;
	text-align: center;
	margin:0;
	padding: 0;
	padding-top: 0px;

}

#menu ul li{
	display: inline;
    width: 20px;
   	padding: 0;

}
.blockheader #bouton{
	width: 6%;
}
#bandeau{
	width: 100%;
	height: 30%;
	top: 24%;

}


.mini{
	height: 2em;
	margin-right: 3px;
	margin-left: 3px;

}

.maxi{
	height: 3em;
	margin-right: 6px;
	margin-left: 6px;

}
#f_g{

	border-width:2em 1em 2em 0px;

}

#f_d{

	border-width:2em 0px 2em 1em;

}
#bandeau .titre_princ{

	font-size: 350%;
}
#bandeau .savoir{
	width: auto;
	font-size: 1em;
	display: inline-block;
	border: 2px solid white;
	color: white;
	position: absolute;
	top: 100%;
	left: 39.7%;
	text-shadow: 1pt 1pt 2pt black;
	background-color: #1c171d;
	padding: 3px;
	opacity: 0.92;
}
}
@media (max-width: 480px){

}